*.iml
*.class
*.o
*.lo
*.log
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.swp
.DS_Store
.settings
.classpath
.project
.idea
.iml
Thumbs.db
/target/*
/target/
/**/.idea/
/**/*.iml
/**/.project
/**/.settings/
/**/.classpath
/**/target/
/**/lib/
/**/bin/

